package pages

templ LoginPage() {
	<div id="signup-hero" class="relative w-full h-100 overflow-hidden">
		<canvas id="firebird-canvas" class="absolute inset-0"></canvas>
		<div class="relative z-10 flex items-center justify-center h-full">
			<h1 class="text-4xl font-bold text-white">
				Rise With Us
			</h1>
		</div>
	</div>
	<script type="module" src="/static/js/firebird.js"></script>
}
